nav ul {
  text-align: center;
}

nav li {
  list-style-type: none;
}

nav a {
  color: var(--color-primary);
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

@media only screen and (min-width: 38em) {

  nav ul {
    text-align: right;
  }

}
