input,textarea {
  border-color: var(--color-primary);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);

  color: var(--color-primary);

  font-family: var(--font-primary);
}

.btn-ghost:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  color: #fff;
}
